<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CatalogAngularApp</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <style>
        body {
            font-family: segoe ui;
            font-size: 18px;
            line-height: 1.5;
        }
        .body-content{width:100% !important;}
    </style>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
